.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar{
  a{
    text-decoration: none;
    font-size: 2rem;
  }
  button{
    background-color: red;
    color: white;
    border-radius: 10%;
  }
  button:hover{
    background-color: rgb(175, 4, 4);


  }

}
