<div class="display">
  <h1>Home Page</h1>
  <h2>News Js,Java and more...</h2>
</div>

<div class="f">
  <mat-card>
    <mat-list>
      <mat-list-item>Lorem ipsum </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Lorem ipsum  </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Lorem ipsum
      </mat-list-item>
    </mat-list>
  </mat-card>

    <mat-card class="f">
      <div>
        <h4>Repudiandae numquam </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse delectus dicta a quae, ea vitae voluptatum eum temporibus qui, provident molestiae ut voluptate, quo eos perspiciatis sequi tempora repellat. Exercitationem?</p>

      </div>
      <div>
        <h4>Lorem ipsum dolor sit</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, ab amet quibusdam aspernatur perferendis eos alias maiores quas? Minima veritatis nemo doloremque rerum voluptates maxime quia eveniet nobis natus sint.</p>
      </div>

    </mat-card>

</div>
<mat-card>
  <mat-card-header>
    <mat-card-title>Loremmmmmmm</mat-card-title>
    <mat-card-subtitle> Ea asperiores! Cupiditate?</mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolor corporis, iusto, voluptatem voluptatum iure assumenda explicabo architecto perferendis ullam deserunt sequi? Animi corrupti perferendis esse nobis ratione officia cum.</p>
  </mat-card-content>
</mat-card>
